 /* import styled from 'styled-components';

 export const StoryStyle = styled.div`
    flex: 1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
 `

 export const CarouselContainer = styled.ul`
   width: 100vh;
   height: 76vh;
   background: white;
   border: 3px solid white;
   border-radius: 3px;
   object-fit: contain;
   box-shadow: 0px 0px 5px 5px #dedede; 
   padding: 0rem;
   list-style:none;
   display: flex;
   justify-content: space-around; 
   /* overflow-x: hidden; */

   /* margin-left: 32px;
   &:first-of-type{
     margin-left: 0px;
   }

    margin-bottom: 80px;

   remove scrollbar
   scrollbar-width: none;  
    &::-webkit-scrollbar {
      display: none;
    } */

   /* @media ${props => props.theme.breakpoints} {
     overflow-x: scroll;
     -webkit-overflow-scrolling: touch;
     scroll-snap-type: x mandatory;
     touch-action: pan-x;
     justify-content: initial;
     margin-bottom: 8px;
   }
 `

 export const CarouselContainerTitle = styled.h2`
 color: black;
 `
 export const CarouselMobileScrollNode = styled.div`
   @media ${props => props.theme.breakpoints} {
     display: flex;
     min-width: ${({ final }) => final ? `30%;` : `30%`}
   }
 `

 export const CarouselItem = styled.div`
   border-radius: 3px;
   height: 200px;
   max-width: 100px;
   object-fit: fill;

   @media ${props => props.theme.breakpoints} {
     max-width: 124px;
   }
  
   @media ${props => props.theme.breakpoints} {
     margin-left: 32px;
     min-width: 120px;
     background: white;
     padding: 4px;
     align-content: start;
     scroll-snap-align: start;
     border-radius: 3px;
      overflow: visible;
     position: relative;
     height: fit-content;
    
     ${(props) => props.active === props.index ? `opacity: 1` : `opacity: 1`}; 
   }
 `

  export const CarouselItemTitle = styled.image`
  border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    height: fit-content;
    width: fit-content;
    object-fit: cover;
    line-height: 32px;
    letter-spacing: 0.02em;
    display: flex;
    background: linear-gradient(121.57deg, #FFFFFF 10%, rgba(255, 255, 255, 0.66) 30.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;

    @media ${props => props.theme.breakpoints} {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 4px;
    }
  
    @media ${props => props.theme.breakpoints} {
      font-size: 16px;
      line-height: 24px;
    }
  `
 export const CarouselItemImg = styled.image`
   margin-left: 21px;
    object-fit: cover;
   height: 100px;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
   width: 50%;
   border-radius: 5px;

   @media ${props => props.theme.breakpoints} {
     -webkit-mask-image: none;
     margin-left: 16px;
      overflow: visible;
   }
 `

 export const CarouselItemText = styled.p`
   font-size: 14px;
   line-height: 22px;
   letter-spacing: 0.02em;
   color: black;
   padding-right: 16px;

   @media ${props => props.theme.breakpoints} {
     font-size: 12px;
     line-height: 18px;
     padding-right: 32px;
   }
   @media ${props => props.theme.breakpoints} {
     font-size: 10px;
     line-height: 16px;
     padding-right: 0;
   }
 `
 export const CarouselButtons = styled.div`
   width: 288px;
   display: none;
   visibility: hidden;

   @media ${props => props.theme.breakpoints} {
     display: flex;
     visibility: visible;
     margin-bottom: 48px;
   }
 `

 export const CarouselButton = styled.button`
   box-sizing: border-box;
   background: none;
   padding: 4px;
   border: none;
   cursor: pointer;
   margin-right: 4px;
   opacity: ${(props) => props.active === props.index ? `1` : `.33`};
   transform: ${(props) => props.active === props.index ? `scale(1.6)` : `scale(1)`};

   &:focus {
     outline: none;
   }
 `

 export const CarouselButtonDot = styled.div`
   background-color: white;
   border-radius: 10px;
   margin: auto;
   width: 3px;
   height: 3px;
 ` */ 

.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}
.story:hover {
  transform: scale(1.07);
}
.story h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
.storyAvatar {
  margin: 10px;
  border: 5px solid #2e81f4;
}