.card {
  padding: 25px 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid white;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 50px;
  top: 17vh;
  left: 0;
  width: 38vh;
  height: 100vh;
}

.item {
  border-radius: 50px;
  background: white;
}
.headerOption {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}
.headerOption:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  border-bottom: none;
}
.headerOption .MuiSvgIcon-root {
  color: gray;
}
.headerOption:hover .MuiSvgIcon-root {
  color: #2e81f4;
}
.headerOptionActive {
  border-bottom: 4px solid #2e81f4;
}
.headerOptionActive .MuiSvgIcon-root {
  color: #2e81f4;
}
.headerInput {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  border-radius: 99px;
}
.headerInput div {
  border: none;
  background-color: transparent;
  outline-width: 0;
}
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-profile {
  --button-size: calc(var(--nav-size) * 1);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.icon-profile svg {
  fill: var(--text-color);
  width: 30px;
  height: 30px;
}
.hrTag {
  border: none;
  border-bottom: 1px solid gray;
}

.icon-right svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-right {
  margin-left: auto;
}

@media (max-width: 800px) {
  .card {
    display: none;
  }
}
